<app-form></app-form>
<div class="container-fluid">
  <div class="details" *ngFor="let quote of quotes">
  <p>My Name: {{quote.name}}</p>
  <p>Author: {{quote.author}}</p>
  <p>Quotes Details: {{quote.quote}}</p>
  <p>Posted on: {{quote.timePosted | date}}</p>
  <p>Time Ellapsed:</p>
  <div>
    <div class="row">
      <div class="col-md-4">
        <app-upvote></app-upvote>
      </div>
      <div class="col-md-4">
        <app-downvote></app-downvote>
      </div>
      <div class="col-md-4">
          <app-delete></app-delete>
      </div>
    </div>
  </div>
  </div>  
</div>