<div class="container">
    <form action="">
        <div class="form-group">
            <label for="Your Name"></label>
            <input type="text" class="form-control" name="" id="" placeholder="Your Name"> 
        </div><br>
        <div class="form-group">
            <label for="Author"></label>
            <input type="text" class="form-control" name="" id="" placeholder="Author"> 
        </div><br>
        <div class="form-group">
            <label for="Write your quote"></label>
            <input type="text" class="form-control" name="" id="" placeholder="Write Your Quote"> 
        </div><br>
        <div class="form-group">
            <button class="btn btn-primary">Submit Quote</button>
        </div><br>
    </form>
</div>