<div class="container">
    <form action="">
        <div class=""><br>
            <label for="">Your Name</label>
            <input type="text" class="form-control" name="" id="" placeholder="Your Name"> 
        </div><br>
        <div class="form-group">
            <label for="">Author </label>
            <input type="text" class="form-control" name="" id="" placeholder="Author"> 
        </div><br>
        <div class="form-group">
            <label for="">Write Your Quote</label><br>
            <textarea placeholder="Write Your Quote" name="" id="" cols="53" rows="10"></textarea>
        </div><br>
        <div class="form-group">
            <button class="btn btn-primary">Submit Quote</button>
        </div><br>
    </form>
</div>